$noise-bg: image-url('noise.png') top left !default;
$img-border: inline-image('dotted-border.png');

// Main Section Colors
$main-bg: #f8f8f8 !default;
$page-bg: #252525 !default;
$article-border: #eeeeee !default;

$header-bg: #333 !default;
$header-border: lighten($header-bg, 15) !default;
$title-color: #f2f2f2 !default;
$subtitle-color: #aaa !default;

$text-color: #222 !default;
$text-color-light: #aaa !default;
$type-border: #ddd !default;

$footer-color: #888 !default;
$footer-color-hover: darken($footer-color, 10) !default;

/* Core theme application */

html {
  background: $page-bg image-url('line-tile.png') top left;
}
body {
  > div {
    > div {
      background: $main-bg $noise-bg;
    }
  }
}
